@import "tailwindcss";

@theme {
  --color-brand-primary: #081E22;
  --color-brand-accent: #DEE9ED;
  --color-brand-bg: #0A1014;
}

:root {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-accent);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  overflow: hidden;
}

/* Custom Scroll Snap container */
.snap-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.snap-section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
}
